/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500..900;1,500..900&display=swap');

:root{
  --primary-color: #3a1078;
  --secondary-color: #4e31aa;
  --tertiary-color: #3795bd;
  --font-color: #dbd3d3;
  --border-color: rgb(55, 58, 219);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
img {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-white{
  background-color: white;
}
