.intro {
  border-radius: 20px;
  color: white;
  position: relative;
  backdrop-filter: blur(6px);
  padding-left: 10vw;
}
.intro h2 {
  text-align: center;
  font-size: 2rem;
}
.intro-text {
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 1.2rem;
}

@media screen and (max-width: 640px) {
  .intro{
    padding: 2px;
  }
  .intro h2{
    font-size: 1.2rem;
  }
  .intro-text{
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 500px) {
  .intro{
    padding: 2px;
  }
  .intro h2{
    font-size: 1rem;
  }
  .intro-text{
    font-size: 0.6rem;
  }
}