.main {
  margin: 20px;
  height: 100vh;
}
.main-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.typewriter {
  position: relative;
  top: 13vh;
  left: 10vw;
  width: 50%;
}
.typewriter p {
  font-size: 2rem;
  color: white;
}
.special,
.typewriter p.special {
  color: rgb(55, 55, 214);
  text-shadow: 1px -1px 1px white;
}

.card-content {
  position: relative;
  color: white;
  margin-top: 100px;
  width: 400px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgb(55, 58, 219);
  border-radius: 20px;
  padding: 20px;
}
.profile-image {
  position: relative;
  top: -80px;
  border-radius: 50%;
  height: 25vh;
  width: 25vh;
}
.profile-image img {
  border-radius: 50%;
}
.content {
  margin-top: -55px;
  font-size: 2rem;
  text-align: center;
}
.socials {
  display: flex;
  justify-content: space-between;
}
.socials a img {
  width: 50px;
  transition: ease-out 0.1s;
  filter: drop-shadow(1px 1px 1px white);
}
.socials a img:hover {
  scale: 1.2;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 14vh;
  width: 100%;
  height: 14vh;
  opacity: 0.2;
}
.logo img{
  width: 50%;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}
.arrows path {
  fill: transparent;
  stroke-width: 7px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}
.arrows path.a1 {
  stroke: #e4e9ec;
}
.arrows path.a2 {
  stroke: #176392;
}
.arrows path.a3 {
  stroke: #0f0320;
}
@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}
.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}
.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

@media screen and (max-width: 1024px) {
  .main{
    margin: 10px;
  }

  .typewriter {
    left: 7vw;
  }
  .typewriter p {
    font-size: 1.5rem;
  }

  .card-content{
    width: 350px;
  }
  .profile-image{
    height: 18vh;
    width: 18vh;
    top: -65px;
  }
  .content{
    margin-top: -40px;
    font-size: 1.8rem;
  }
  .socials a img{
    width: 45px;
  }
}

@media screen and (max-width: 640px) {
  .main{
    margin: 10px;
  }

  .typewriter {
    left: 5vw;
  }
  .typewriter p {
    font-size: 1.2rem;
  }

  .card-content{
    width: 200px;
  }
  .profile-image{
    height: 120px;
    width: 120px;
    top: -55px;
  }
  .content{
    margin-top: -45px;
    font-size: 1rem;
  }
  .socials a img{
    width: 35px;
  }

  .logo{
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .main{
    margin: 10px;
  }

  .typewriter {
    left: 5vw;
  }
  .typewriter p {
    font-size: 4.5vw;
  }

  .card-content{
    width: 180px;
  }
  .profile-image{
    height: 90px;
    width: 90px;
    top: -45px;
  }
  .content{
    margin-top: -35px;
    font-size: 1rem;
  }
  .socials a img{
    width: 35px;
  }
}

@media screen and (max-width: 400px) {
  .main{
    margin: 10px;
  }

  .typewriter {
    left: 0px;
  }
  .typewriter p {
    font-size: 0.8rem;
  }

  .card-content{
    width: 120px;
  }
  .profile-image{
    height: 80px;
    width: 80px;
    top: -45px;
  }
  .content{
    margin-top: -35px;
    font-size: 0.6rem;
  }
  .socials a img{
    width: 15px;
  }
}
