.main{
    margin: 20px;
    height: 100vh;
}
.main-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.typewriter{
    position: relative;
    top: 13vh;
    left: 10vw;
    width: 900px;
}
.typewriter p{
    font-size: 2rem;
    color: white;
}
.special, .typewriter p.special{
    color: rgb(55, 55, 214);
    text-shadow: 1px -1px 1px white;

}

.card-content{
    margin-top: 100px;
    width: 400px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgb(55, 58, 219);
    border-radius: 20px;
    padding: 20px;
}
.profile-image{
    position: relative;
    top: -80px;
    border-radius: 50%;
    height: 25vh;
    width: 25vh;
}
.profile-image img{
    border-radius: 50%;
}
.content{
    margin-top: -55px;
    font-size: 2rem;
    text-align: center;
}
.socials{
    display: flex;
    justify-content: space-between;
}
.socials a img{
    width: 50px;
    transition: ease-out 0.1s;
}
.socials a img:hover{
    scale: 1.2;
}
