.footer{
    position: relative;
    background-color: rgb(11, 11, 116,0.6);
    color: whitesmoke;
    height: 6vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid rgb(55, 58, 219);
    backdrop-filter: blur(10px);
}