.skills-parent{
  padding: 20px 0;
  position: relative;
  color: white;
}
.skills-parent h1{
  font-weight: 400;
  font-size: 48px;
  padding: 10px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
}

.skillset {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(6px);
  width: 40%;
  transition: ease-in 0.2s;
  border-radius: 20px;
  row-gap: 20px;
  padding: 20px;
  border: 1px solid var(--border-color);
}
.skillset:hover {
  backdrop-filter: blur(1px);
}

.skills .heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
  font-size: 19.2px;
  font-weight: 600;
  align-items: center;
}
.skills .heading .coding {
  width: 50px;
}

.skill-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2vw;
}
.skill-images img {
  width: 8vw;
  height: 8vw;
}

@media screen and (max-width: 640px) {
  .skills-parent h1{
    font-size: 27.2px;
  }
  .skills{
    gap: 12px;
  }
  .skillset{
    row-gap: 12px;
    padding: 12px;
  }
  .skills .heading{
    column-gap: 12px;
    font-size: 12.8px;
  }
  .skills .heading .coding{
    width: 40px;
  }
}

@media screen and (max-width: 500px) {
  .projects h1{
    font-size: 24px;
  }
  .skills{
    gap: 10px;
  }
  .skillset{
    row-gap: 10px;
    padding: 10px;
  }
  .skills .heading{
    column-gap: 10px;
    font-size: 9.6px;
  }
  .skills .heading .coding{
    width: 25px;
  }
}
