.projects {
  position: relative;
  color: white;
}

.projects h1{
    padding: 10px;
    font-size: 48px;
    font-weight: 400;
}

.flexy {
  display: flex;
  justify-content: space-evenly;
  row-gap: 19.2px;
  flex-wrap: wrap;
}
.item {
  position: relative;
  width: 40%;
  height: 304px;
  background-color: lightGrey;
  overflow-y: hidden;
  border: 1px solid var(--border-color);
  box-shadow: 1.6px 1.6px 16px rgba(0, 0, 0,0.7);
  border-radius: 10px;
}
.item h3 {
  margin: 0;
  display: block;
  background-color: rgba(25, 37, 119, 0.9);
  padding: 16px;
  transform: translate3d(0, -100%, 0);
  transition: transform 300ms;
}
.item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.item a:hover ~ .item__overlay,
.item a:focus ~ .item__overlay {
  transform: translate3d(0, 0, 0);
}
.item a:hover ~ .item__overlay h3,
.item a:focus ~ .item__overlay h3 {
  transform: translate3d(0, 0, 0);
}
.item a:hover ~ .item__overlay .item__body,
.item a:focus ~ .item__overlay .item__body {
  opacity: 1;
}
.item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: top left;
}
.item__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  transition: transform 300ms;
  background-color: rgba(25, 37, 119,0.7);
  transform: translate3d(0, 100%, 0);
}
.item__body {
  flex-grow: 1;
  padding: 16px;
  opacity: 0;
  transition: opacity 500ms 100ms;
}
.item__body p {
  margin: 0;
}

@media screen and (max-width: 640px) {
  .projects h1{
    font-size: 27.2px;
  }
  .item{
    height: 136px;
  }
  .item h3{
    padding: 102.4px;
  }
  .item__overlay{
    font-size: 8px;
  }
  .item__body{
    font-size: 9.6px;
    padding: 3.2px;
  }
}

@media screen and (max-width: 500px) {
  .projects h1{
    font-size: 24px;
  }
  .item{
    height: 112px;
  }
  .item h3{
    padding: 8px;
  }
  .item__overlay{
    font-size: 6.4px;
  }
  .item__body{
    font-size: 7.2px;
    padding: 3.2px;
  }
}
